@font-face{
	font-family: "fontmenu1";
	src:url("../MaShanZheng-Regular.ttf");
	font-display: swap;
}
@font-face{
	font-family: "fontmenu2";
	src:url("../CroissantOne-Regular.ttf");
	font-display: swap;
}

@font-face{
	font-family: "fontmenu3";
	src:url("../DancingScript-Regular.ttf");
	font-display: swap;
}

@font-face{
	font-family: "fontmenu4";
	src:url("../KaushanScript-Regular.ttf");
	font-display: swap;
}

header{
	background-color: green;
	border: solid 1px purple;
	font-size: 2em;
}

.flex{
	display: flex;
}

.column{
	flex-direction: column;
}

.row{
	flex-direction: row;
}

.justify-center{
	justify-content: center;
}

.text-align{
	text-align: center;
}

body{
	border: solid 1px;
}

main{
	border: solid 1px red;
}

section{
	border: solid 1px turquoise;
}

footer {
    background-color: green;
    width: 100%;
    margin: 0 0 0 0;
}

aside{
	padding: 20px;
}

button{
	background-color: green;
	color: yellow;
	border: solid 1px black;
}

#titre{
	color: yellow;
	font-weight: bold;
	text-align: center;
}

.liengauche{
	border: solid 1px red;
	width:50%;
	text-align: left;
}

.liendroite{
	border: solid 1px turquoise;
	width:50%;
	text-align: right;
}

a{
	text-decoration: none !important;
}

.lien{
	text-decoration: none;
	color: yellow;
	text-align:;
	margin:;
}

.surligne{
	text-decoration: none;
}

.size-menu{
	width: 540px;
    height: 764px;
}

.align-content-menu{
	display: flex;
	flex-direction: column;
	align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.shadow-menu{
	box-shadow: 0px 0px 10px -2px grey;
}

.menus{
	font-size: 2em;
}

.menu1{
	border: solid 1px blue;  
	background-color: #FFC5C5; 
	font-family: "fontmenu1";
	color: #543A3A;
    margin: 50px;
}

.menu1 a h2 {
	color: #543A3A;
}

.menu2{
	border: solid 1px orange; 
	background-color: #F9EBFD; 
	font-family: "fontmenu2";
	color: #D07700;
    margin: 50px;
}

.menu2 a h2{
	background-image: linear-gradient(160deg, #D07700  25%, #A644FF 65%);
	background-clip: text;
	-webkit-background-clip: text;
	color:transparent;

}

.menu3{
	border: solid 1px orange;
	background-color: #F5F5F5;
	font-family: "fontmenu3"; 
	color: #009FFF;
    margin: 50px;
}

.menu3 a h2{
	background-image: linear-gradient(160deg, #002AC4  25%, #009FFF 65%);
	background-clip: text;
	-webkit-background-clip: text;
	color:transparent;
}

.menu4{
	border: solid 1px orange;
	font-family: "fontmenu4";
	color: #2E9016;
    margin: 50px;  
}

.menu4 a h2{
	background-image: linear-gradient(160deg, #2E9016  25%, #86FF69 65%);
	background-clip: text;
	-webkit-background-clip: text;
	color:transparent;




/* width: 540px;
    height: 764px;
    margin: 50px; */
/*
hr element.style {
    border: none;
    width: 100%;
    height: 10px;
    text-align: center;
    color: black;
    margin: auto;
    background-color: black;
}
*/



/*.

.menu1{
	border: solid 1px blue;
	width: 40%; 
	margin: auto;  
	box-shadow: 0px 0px 10px -2px grey; 
	background-color: #FFC5C5; 
	font-family: "fontmenu1";   
}

.menu1 a h2{
	background-image: linear-gradient(to right, #0000CC 0%, #666699 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color:transparent;


menu1 a h2{
	background-image: linear-gradient(to right, #0000CC 0%, #666699 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color:transparent;
}
*/