@charset "UTF-8";
/* Déclaration des variables */
/* Ajout des polices utilisées */
@font-face {
  font-family: "fontmenu1";
  src: url("../MaShanZheng-Regular.ttf");
  font-display: swap; }
@font-face {
  font-family: "fontmenu2";
  src: url("../CroissantOne-Regular.ttf");
  font-display: swap; }
@font-face {
  font-family: "fontmenu3";
  src: url("../DancingScript-Regular.ttf");
  font-display: swap; }
@font-face {
  font-family: "fontmenu4";
  src: url("../KaushanScript-Regular.ttf");
  font-display: swap; }
@media screen and (min-width: 769px) {
  .menu-flex {
    flex-wrap: wrap;
    justify-content: space-evenly; }

  .menu {
    width: 35% !important;
    margin: 50px 20px 50px 20px !IMPORTANT; } }
/* MediaQueries pour le responsives */
/* Pour les écrans de tailles maximum 768px (Tablettes) */
@media screen and (max-width: 768px) {
  .menu-flex {
    flex-direction: column;
    align-items: center; }

  .header a {
    font-size: 4rem; }

  .menu {
    height: 470px !IMPORTANT; }

  .position-main-menu {
    margin: 100px 20px 130px 20px !IMPORTANT; }

  .margin__texte-menu {
    margin: 50px 50px 50px 50px !IMPORTANT; }

  .size__nom-menu2, .size__sous-titre, .size__plats, .size__prix, .size__nom-menu, .btn {
    font-size: 1.5em !IMPORTANT; }

  .margin__carte-menu1 {
    margin: 0px 20px 0px 20px !IMPORTANT; } }
/* Pour les écrans de tailles maximum 375px (Mobile M) */
@media screen and (max-width: 375px) {
  .header a {
    font-size: 3rem; }

  .menu a {
    font-size: 1.5rem; }

  .btn {
    margin-bottom: 60px !IMPORTANT;
    font-size: 1.3rem !IMPORTANT;
    display: block;
    width: 100%; }

  .menu {
    margin: 10px !IMPORTANT;
    height: 280px !IMPORTANT;
    padding: 10px !IMPORTANT; }

  .position-main-accueil {
    margin-top: 120px !IMPORTANT; }

  .size__nom-menu2, .size__sous-titre, .size__plats, .size__prix, .size__nom-menu, .btn {
    font-size: 1em !IMPORTANT; }

  .position-main-menu {
    margin: 50px 20px 80px 20px !IMPORTANT; } }
/* Pour les écrans de tailles maximum 320px (Mobile S) */
@media screen and (max-width: 320px) {
  .header a {
    font-size: 2rem; }

  .header {
    font-size: 3rem !IMPORTANT; }

  .footer {
    padding-top: 5px !IMPORTANT; }

  .footer-flex {
    flex-direction: column; }

  .footer__width {
    width: 100% !IMPORTANT;
    text-align: center !IMPORTANT; }

  .btn {
    font-size: 1em !IMPORTANT; } }
body {
  margin: 0; }

.background-color {
  background-color: #5FB68C; }

.lien-color {
  color: #ECD31C; }

.fix {
  position: fixed; }

.width {
  width: 100%; }

.t-deco-none {
  text-decoration: none; }

.radius {
  border-radius: 5px; }

.text-align__center {
  text-align: center; }
.text-align__right {
  text-align: right; }

.header {
  font-size: 5rem;
  text-align: center;
  padding: 10px;
  top: 0;
  z-index: 1; }

.header, footer a {
  font-weight: bold; }

.position-main-accueil {
  margin-top: 130px; }

.flex, .menu-flex, .footer-flex {
  display: flex; }

.footer {
  height: 40px;
  bottom: 0;
  padding-top: 15px; }
  .footer__width {
    width: 50%; }

.footer a {
  padding-left: 10px;
  padding-right: 10px; }

/* Taille standard menu */
.menu {
  margin: 50px;
  box-shadow: 0px 0px 10px -2px grey;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
  height: 500px;
  padding: 30px;
  /* Durée animation menu page d'accueil */
  transform: scale(1);
  transition: all 1s; }
  .menu:hover a {
    transform: scale(1); }
  .menu__menu1 {
    background-color: #FFC5C5;
    color: #543A3A;
    /* Animation de soulignement des sous-titres: entrées, plats et desserts */ }
    .menu__menu1 a p, .menu__menu1 h2 {
      color: #543A3A; }
    .menu__menu1 a h2, .menu__menu1 h3, .menu__menu1 span {
      font-family: "fontmenu1"; }
    .menu__menu1 .margin__sous-titre:after {
      background-color: #543A3A; }
  .menu__menu2 {
    background-color: #F9EBFD;
    color: #D07700;
    /* Animation de soulignement des sous-titres: entrées, plats et desserts */ }
    .menu__menu2 a p {
      color: #D07700; }
    .menu__menu2 a h2, .menu__menu2 h3 {
      background-image: linear-gradient(160deg, #D07700 25%, #A644FF 65%);
      -webkit-background-clip: text;
      color: transparent;
      font-family: "fontmenu2"; }
    .menu__menu2 .color-menu2-haut div div:after {
      background-color: #D07700; }
    .menu__menu2 .color-menu2-milieu div div:after {
      background-color: #A644FF; }
    .menu__menu2 .color-menu2-bas div div:after {
      background-color: #6824C0; }
  .menu__menu3 {
    background-color: #F5F5F5;
    color: #009FFF;
    /* Animation de soulignement des sous-titres: entrées, plats et desserts */ }
    .menu__menu3 a p {
      color: #009FFF; }
    .menu__menu3 a h2, .menu__menu3 h3 {
      background-image: linear-gradient(160deg, #002AC4 25%, #009FFF 65%);
      -webkit-background-clip: text;
      color: transparent;
      font-family: "fontmenu3"; }
    .menu__menu3 .barre-sous-titre__menu3-haut + div:after {
      background-color: #002AC4; }
    .menu__menu3 .barre-sous-titre__menu3-milieu + div:after {
      background-color: #0055FF; }
    .menu__menu3 .barre-sous-titre__menu3-bas + div:after {
      background-color: #009FFF; }
  .menu__menu4 {
    background-color: #FFFFFF;
    color: #2E9016;
    /* Animation de soulignement des sous-titres: entrées, plats et desserts */ }
    .menu__menu4 a p {
      color: #2E9016; }
    .menu__menu4 a h2, .menu__menu4 h3 {
      background-image: linear-gradient(160deg, #2E9016 25%, #86FF69 65%);
      -webkit-background-clip: text;
      color: transparent;
      font-family: "fontmenu4"; }
    .menu__menu4 .barre-sous-titre__gauche + div:after {
      background-color: #2E9016; }

/* Animation d'aggrandissement et d'opacité des menus au passage de la souris */
div a:hover {
  font-size: 2.5rem;
  transition-duration: 1s;
  opacity: 40%; }

.color-logo {
  background-image: linear-gradient(300deg, orange 25%, red 65%);
  -webkit-background-clip: text;
  color: transparent;
  padding-right: 3%;
  padding-left: 3%; }

.btn {
  margin-bottom: 100px;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  border: none; }

.point1, .point2, .point3 {
  background-color: #5FB68C;
  font-weight: bold; }

/* Animation des points de suspension */
.point1 {
  animation: suspension-animation 1s 0s infinite; }

.point2 {
  animation: suspension-animation 1s 0.33s infinite; }

.point3 {
  animation: suspension-animation 1s 0.66s infinite; }

/* Page Menus */
.padding-titre-menu {
  padding: 50px 20px 20px 20px; }

.position-main-menu {
  margin: 60px 40px 130px 40px;
  padding: 0px 0px 50px 0px; }

.vertical-align-middle {
  align-self: center; }

.margin__sous-titre {
  margin: -10px; }
.margin__carte-menu1 {
  margin: 0px 100px 0px 100px; }
.margin__carte {
  margin: 0px 20px 0px 20px; }
.margin__texte-menu {
  margin: 50px 100px 50px 100px; }
.margin__plats-menu {
  margin: 10px 0px 10px 0px; }
.margin__titre-menu {
  margin-top: 0;
  margin-bottom: 50px; }

.size__nom-menu2, .size__sous-titre, .size__plats, .size__prix, .size__nom-menu, .btn {
  font-size: 2em; }

.size__plats, .size__prix {
  margin: 10px 0px 10px 0px; }

.size__sous-titre {
  justify-content: space-between;
  text-align: center; }
.size__plats {
  width: 80%; }
.size__prix {
  width: 20%; }

.barre-sous-titre {
  border: none;
  height: 4px;
  width: 35%;
  margin: 0; }
  .barre-sous-titre__menu1 {
    background-color: #543A3A; }
  .barre-sous-titre__menu2-haut {
    background-color: #D07700; }
  .barre-sous-titre__menu2-milieu {
    background-color: #A644FF; }
  .barre-sous-titre__menu2-bas {
    background-color: #6824C0; }
  .barre-sous-titre__menu3-haut {
    background-color: #002AC4; }
  .barre-sous-titre__menu3-milieu {
    background-color: #0055FF; }
  .barre-sous-titre__menu3-bas {
    background-color: #009FFF; }
  .barre-sous-titre__gauche {
    background-image: linear-gradient(160deg, #2E9016 25%, #86FF69 65%); }
  .barre-sous-titre__droite {
    background-image: linear-gradient(-160deg, #2E9016 25%, #86FF69 65%); }

.color-menu2-haut {
  color: #D07700; }

.color-menu2-milieu {
  color: #A644FF; }

.color-menu2-bas {
  color: #6824C0; }

.main-color-text-menu {
  color: #000000; }

/* Règles d'animation des liens du footer */
@keyframes lien-animation {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-1.5deg); }
  40% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(1.5deg); }
  80% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-1.5deg); } }
/* Règles d'animation des points de suspension */
@keyframes suspension-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Durée animation des liens du footer */
footer a:hover {
  animation: lien-animation 200ms; }

/* Règles animations des sous-titres entrées, plats et desserts */
div div div:after {
  content: '';
  display: block;
  height: 5px;
  width: 0;
  transition: width 0.5s; }

div div div:hover:after {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
